@page "/"

<PageTitle>Index</PageTitle>

<Divider Orientation="left">Hello world</Divider>

Welcome to TopSwagCode beta site. I am thinking about rebuilding my blog to a "interative blog / site" using blazor. Feel free to browse around. To see all pages you have to create a login, or use Google login. Don't worry. I won't store any data about you ;) Login is made using Auth0 and their integrations. There are some protected endpoints that only a Admin can access. Like Serverless endpoints, azure facereg and other paying service :) The whole thing is opensource and can be found here <a href="https://github.com/TopSwagCode/topswagcode.blazor">https://github.com/TopSwagCode/topswagcode.blazor</a>

<Divider></Divider>

<div style="width: 200px;">   
    <Carousel Autoplay="TimeSpan.FromSeconds(5)">
        <CarouselSlick>
            <Image Src="https://picsum.photos/id/1025/200/300"> </Image>
        </CarouselSlick>
        <CarouselSlick>
            <Image Src="https://picsum.photos/id/200/200/300"> </Image>
        </CarouselSlick>
        <CarouselSlick>
            <Image Src="https://picsum.photos/id/433/200/300"> </Image>
        </CarouselSlick>
        <CarouselSlick>
            <Image Src="https://picsum.photos/id/718/200/300"> </Image>
        </CarouselSlick>
    </Carousel>
</div>